<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">	
		<main role="main">
		
		<section class="jumbotron text-center mt-5">						
			<div class="container">
				<h1 class="jumbotron-heading">Coordenação de Assistência ao Aluno</h1>
				<p class="lead text-muted">Sistema de Controle do Refeitório</p>
			</div>
		</section>
			
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="d-flex justify-content-center">					
					<div class="col-md-12">						
						<div th:replace="fragments/alert"></div>
						<form th:action="${autorizacao.id == null} ? @{/autorizacao/salvar} : @{/autorizacao/editar}"
							th:object="${autorizacao}"	method="POST" class="was-validated">							
							<div class="form-row">								
							<div class="form-group col-md-3">
							<label for="nome">Selecione 
									a data</label>
								<input class="form-control" type="date" id="data" 
									 th:field="*{refeicao.data}"required/>
								<div class="invalid-feedback">
							      Data é obrigatória.
							    </div>	
							</div>
							</div>	
							<div class="input-group mb-3">
							  <div class="input-group-prepend">
							    <label for="nome">Curso</label> 
							  </div>
							  <div id="curso" class="input-group">
								  <select class="custom-select" id="cursos" th:field="*{curso}">
								    
								  </select>
								  <div class="invalid-feedback">Curso é requerido.</div>
							  </div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									<label for="nome">Turma(s)</label>
									<select id="turmas" class="custom-select" size="5" name="turmas"
									th:field="*{turmasLista}" multiple> 										
									</select>
									<div class="invalid-feedback">Turmas são requeridas</div>
								</div>
							</div>
							
							<input type="hidden" th:field="*{id}"/>	
											
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary" data-toggle="tooltip"
											data-placement="right" title="Autorizar"><i class="fas fa-save"></i></button>
								</div>
							</div>
						</form>
						<hr/>
						
						<h2>Lista de Autorizados</h2>
						
						<table id="table-autorizacao" class="table table-sm table-striped table-bordered nowrap" style="width:100%">
						  <thead class="thead-dark">
						    <tr>
						      <th scope="col">Data</th>
						      <th scope="col">Alunos</th>
						      <th scope="col">Curso</th>
						      <th scope="col">Turma(s)</th>
						      <th scope="col">Excluir</th>
						    </tr>
						  </thead>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		</main>
	</section>
	<script th:src="@{/js/autorizacao.js?(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	
	$(document).ready(function() {
		$.get('/aluno/curso/listar' , function( result ) {
	    	$.each(result, function (k, v) {	    		
    			$("#cursos").append( 
        				'<option name= "op" class="op" value="'+ v.id +'">'+ v.nome + '</option>'
        		);	    			            			
	    	  });
	    	});
	    });
	
	
	$.get('/aluno/turma/listar', function( result ) {
		$.each(result, function (k, v) {
			$("#turmas").append( 
				'<option class="op" value="'+ v.id +'">'+ v.nome + '</option>'
			);	            			
	    });
	});
	
	</script>
</body>
</html>