<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>

<body>
	<section class="layout-content" layout:fragment="corpo">	
		<main role="main">
		
		<section class="jumbotron text-center mt-5">						
			<div class="container">
				<h1 class="jumbotron-heading">Coordenação de Assistência ao Aluno</h1>
				<p class="lead text-muted">Sistema de Controle do Refeitório</p>
			</div>
		</section>
			
		<div class="album py-5 bg-light">
			<div class="container d-flex justify-content-center align-items-center">
				<div class="row">
					<div class="col-md-12">					
						<div class="col-md-12" th:replace="fragments/alert :: alerta-sucesso"></div>
						<form th:action="${refeicao.id == null} ? @{/refeicao/salvar} : @{/refeicao/editar}"
							th:object="${refeicao}"	method="POST" class="was-validated">
	 						<div class="form-row">								
							<div class="form-group col-md-12">
								<small class="form-text text-muted">Selecione 
									a data</small>
								<input class="form-control" type="date" id="data" 
									th:field="*{data}" required/>
								<div class="invalid-feedback">
							      Data é obrigatória.
							    </div>	
							</div>
						</div>
						<input type="hidden" th:field="*{id}"/>	
						<div class="form-row">
							<div class="form-group col-md-12">
								<small id="hr-small" class="form-text text-muted">Alimentos a serem
								disponibilizados na refeição</small>
								<select id="alimentos" class="custom-select" size="5" name="alimentos"
								th:field="*{alimentosLista}" multiple> 										
								</select>
								<div class="invalid-feedback">Alimentos são obrigatórios</div>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<button type="submit" class="btn btn-primary"
									data-toggle="tooltip" data-placement="right" title="Salvar">
									<i class="fas fa-save"></i>
								</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="album bg-light">
			<div class="container d-flex justify-content-center align-items-center">
				<div class="form-row">								
					<div class="form-group col-md-12">
							<hr />
							<h2>Refeições</h2>
							<table id="table-refeicao" 
								class="table table-sm table-striped table-bordered pre-wrap"
								style="width: 100%">
								<thead class="thead-dark">
									<tr>
										<th scope="col">#</th>
										<th scope="col">Data</th>
										<th scope="col">Alimentos</th>
										<th scope="col">Editar</th>
										<th scope="col">Excluir</th>
									</tr>
								</thead>
							</table>
					</div>
				</div>	
			</div>
		</div>
		</main>		
	</section>
	<script	th:src="@{/js/refeicao.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	
	$.get('/refeicao/data/disponivel/', function( result ) {
		$.each(result, function (k, v) {
			$("#alimentos").append( 
				'<option class="op" value="'+ v.id +'">'+ v.nome + '</option>'
			);	            			
	    });
	});
	
	$( document ).ready(function() {
	var data = [[${refeicao.data}]];
	if ( data != null ) {
		$.get('/refeicao/data/disponivel/'+data, function( result ) {
			$.each(result, function(k, v) {
				$('#alimentos option[value="'+v.id+'"]').attr('selected', 'selected');
			})
		});
	}
	});
	</script>
</body>
</html>